@import '../../../styles/Colors.scss';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.modal-main {
  position: fixed;
  background: $lightest;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 18px;
  border: solid 1px $greendark;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

/* Mobile Styles */
@media only screen and (max-width: 414px) {
  .modal-main {
    width: 90%;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 415px) and (max-width: 960px) {
  .modal-main {
    width: 75%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .modal-main {
    width: 50%;
  }
}
