@import '../../../styles/Colors.scss';
.cabinet {
  .picked {
    text-align: center;
    justify-content: center;
    background-color: $greenlight;
    color: $lightest;
    display: flex;
    .leftside {
      padding: 50px 0;
      flex-basis: 49.7%;
      border-right: solid 1px white;
      margin: 8px 0;
      .temperature {
        font-size: 56px;
        text-align: center;
      }
      .note {
        font-size: 16px;
      }
    }
    .rightside {
      flex-basis: 50%;
      .data {
        padding: 14px 10px;
        font-size: 15px;
        tr {
          border-bottom: 1pt solid $lightest;
        }
        tr:last-child {
          border-bottom: none;
        }
        td {
          padding: 6px 0;
        }
        td.right {
          text-align: start;
        }
        td.left {
          text-align: end;
        }
      }
      .detail {
        display: flex;
        justify-content: center;
        .btn {
          color: $greenlight;
          width: 45%;
          cursor: pointer;
          padding: 8px 24px;
          border-radius: 5px;
          background-color: $lightest;
          text-align: center;
          margin: 12px;
        }
      }
    }
  }
  .middle {
    display: grid;
    grid-template-columns: 75% 25%;
    margin: 8px 10px 0 10px;
    .title {
      .text {
        margin-top: 5px;
        color: $greendark;
        font-size: 25px;
        text-transform: uppercase;
      }
    }
    .add {
      text-align: end;
      margin: 0 12px;
    }
  }
  .container {
    margin: 10px;
    display: grid;
    grid-gap: 2%;
    background-color: $lightest;
    .item {
      border: solid 1px $greenlight;
      color: $greenlight;
      border-radius: 8px;
      .off {
        text-align: center;
        padding: 23px 0;
      }
      .name {
        color: $greendark;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        padding: 12px;
      }

      .data {
        padding: 0 8px;
        color: $darkest;
        font-size: 16px;
        tr {
          border-bottom: 1pt dashed $darkest;
        }
        td {
          padding: 8px 0;
        }
        td.right {
          text-align: start;
        }
        td.left {
          text-align: end;
          .val {
            display: inline-flex;
            .ico {
              margin-left: 4px;
            }
          }
        }
      }
      .detail {
        display: flex;
        justify-content: center;
        .btn {
          color: $lightest;
          width: 45%;
          cursor: pointer;
          padding: 8px 24px;
          border-radius: 5px;
          background-color: $greenlight;
          text-align: center;
          margin: 12px;
        }
      }
    }
  }
}
/* Mobile Styles */
@media only screen and (max-width: 414px) {
  .cabinet {
    .container {
      grid-template-columns: 49% 49%;
    }
  }
}

/* Tablet Styles */
@media only screen and (min-width: 415px) and (max-width: 960px) {
  .cabinet {
    .container {
      grid-template-columns: 24% 24% 24% 24%;
      grid-gap: 1%;
    }
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .cabinet {
    .container {
      grid-template-columns: 24% 24% 24% 24%;
      grid-gap: 1%;
    }
  }
}
