@import '../../styles/Colors.scss';

/* For layout  */

/* Mobile Styles */
@media only screen and (max-width: 414px) {
  .main {
    padding-inline-start: 12px;
  }

  .button {
    width: 35%;
  }
  .child {
    margin: 18px 0;
  }
  ul li .child .content {
    display: inline-block;
    width: 84%;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 415px) and (max-width: 960px) {
  .main {
    padding-inline-start: 12px;
  }

  .button {
    width: 35%;
  }
  .child {
    margin: 18px 10%;
  }
  ul li .child .content {
    display: inline-block;
    width: 84%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .main {
    padding-inline-start: 12px;
  }

  .button {
    width: 35%;
  }
  .child {
    margin: 18px 10%;
  }
  ul li .child .content {
    display: inline-block;
    width: 84%;
  }
}

.service {
  padding-inline-start: 0;
  color: $darkest;

  /* Contain */
  .title {
    color: $greendark;
    padding: 12px 3%;
    background: $greylight;
    font-weight: bold;
    font-size: 18px;
  }

  .content {
    font-size: 16px;
  }

  /* For switch button  */
  .change {
    display: inline-block;

    .switch {
      position: relative;
      display: inline-block;
      width: 45px;
      height: 16px;
    }

    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $greylight;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    .slider:before {
      position: absolute;
      content: '';
      height: 25px;
      width: 25px;
      bottom: -5px;
      background-color: $greydark;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    input:checked + .slider {
      background-color: $greenerlight;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px $greenerlight;
    }

    input:checked + .slider:before {
      background-color: $greenlight;
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}

/* Loading */

.loading:empty {
  position: absolute;
  top: calc(50% - 2em);
  left: calc(50% - 2em);
  width: 2em;
  height: 2em;
  border: 0.5em solid $greenlight;
  border-left: 0.5em solid $lightest;
  border-radius: 50%;
  animation: load8 1s infinite linear;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
