.loader:empty {
  position: absolute;
  top: calc(50% - 2em);
  left: calc(50% - 2em);
  width: 2em;
  height: 2em;
  border: 0.5em solid #22b573;
  border-left: 0.5em solid #ffffff;
  border-radius: 50%;
  animation: load8 1s infinite linear;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
