@import '../../../../styles/Colors.scss';
.cbnOut {
  background-color: $greenlight;
  color: $lightest;
  display: flex;
  .leftside {
    text-align: center;
    flex-basis: 33.3%;
    border-right: solid 1px white;
    margin: 8px 0;
    .icon {
      margin: 10px 0;
    }
    .text {
      font-size: 12px;
      font-weight: bold;
    }
  }
  .rightside {
    flex-basis: 66.6%;
    padding: 0 10px;
    font-size: 15px;

    .state {
      font-size: 20px;
      text-align: center;
      margin: 8px;
    }
    .engines {
      display: flex;
      justify-content: center;
      .engine {
        font-size: 18px;
        color: $greenlight;
        width: 25%;
        padding: 4px 18px;
        border-radius: 8px;
        background-color: $lightest;
        text-align: center;
        margin: 0 2px;
      }
    }
    .data {
      margin: 8px 0;
      tr {
        border-bottom: 1pt solid $lightest;
      }
      tr:last-child {
        border-bottom: none;
      }
      td {
        padding: 6px 0;
      }
      td.right {
        text-align: start;
      }
      td.left {
        text-align: end;
      }
    }
  }
}

.engine-on {
  color: $greenlight;
  border-radius: 12px;
  border: solid 1px $greenlight;
  font-weight: bold;
  .head {
    display: grid;
    grid-template-columns: 18% 64% 18%;
    .clock {
    }
    .name_ {
      font-size: 20px;
      text-align: center;
      padding-top: 10px;
    }
    .index {
      width: 1.5rem;
      height: 1.3rem;
      background: $greenlight;
      color: $lightest;
      border-radius: 50%;
      margin: 3px;
      padding-top: 4px;
      text-align: center;
    }
  }
  .main {
    text-align: center;
  }
  .foot {
    border-top: solid 1px $greenlight;
    display: grid;
    grid-template-columns: 20% 80%;
    .switch {
      background: $greenlight;
      border-radius: 0 0 0 10px;
    }
    .content {
      padding-top: 8px;
      font-size: 16px;
      text-align: center;
    }
  }
}
.engine-off {
  border: solid 1px $greydark;
  border-radius: 12px;
  color: $greydark;
  font-weight: bold;
  .head {
    display: grid;
    grid-template-columns: 18% 64% 18%;
    .name_ {
      font-size: 20px;
      text-align: center;
      padding-top: 10px;
    }
    .index {
      width: 1.5rem;
      height: 1.3rem;
      background: $greydark;
      color: $lightest;
      border-radius: 50%;
      margin: 3px;
      padding-top: 4px;
      text-align: center;
    }
  }
  .main {
    text-align: center;
  }
  .foot {
    border-top: solid 1px $greydark;
    display: grid;
    grid-template-columns: 80% 20%;
    .switch {
      background: $greydark;
      border-radius: 0 0 10px 0;
    }
    .content {
      padding-top: 8px;
      font-size: 16px;
      text-align: center;
    }
  }
}
