@import '../../../styles/Colors.scss';

.tab-list {
  padding-left: 0;
  text-align: center;
  font-weight: bold;
}

.tab-list-item {
  display: inline-block;
  border: solid 1px $greenlight;
  color: $greenlight;
  list-style: none;
  padding: 0.5rem 0.75rem;
  width: 25%;
  cursor: pointer;
}

.tab-list-active {
  background-color: $greenlight;
  color: $lightest;
}
