@import '../../styles/Colors.scss';

/* Contact */
.contact {
  color: $darkest;
  font-size: 16px;
  position: relative;
  padding: 16px;
  .phone {
    position: absolute;
    left: 0;
  }
  .update {
    position: absolute;

    right: 0;
    font-size: 15px;
    font-style: italic;
    color: $greendark;
    text-decoration: underline;
    cursor: pointer;
  }
}

/* Modal content */
.phonetitles {
  border-bottom: solid 0.5px $greenlight;
  text-align: center;
  padding: 18px;
  font-size: 18px;
  font-weight: bold;
  color: $greendark;
}
.phoneform {
  border-radius: 20%;

  .inputs {
    display: flex;
    justify-content: center;
    margin: 20px;
    color: $greendark;
  }

  .inputPhone:focus {
    border: 2px solid $greenlight;
  }
  .buttons {
    display: flex;
    text-align: center;
    color: $lightest;
    font-weight: bold;
    .left {
      width: 50%;
      padding: 18px;
      background: $greydark;
      border-radius: 0 0 0 16px;
      cursor: pointer;
    }
    .right {
      cursor: pointer;
      width: 50%;
      padding: 18px;
      background: $greenlight;
      border-radius: 0 0 16px 0;
      .submit {
        border: none;
      }
    }
  }

  .button {
    text-align: center;
    padding: 8px 0px;
    border-radius: 7px;
    margin: 0 5px;
    cursor: pointer;
  }
  .inputPhone {
    padding: 8px 0;
  }
  input {
    border-radius: 8px;
    outline: none;
    border: 1px solid $greenerlight;
  }

  input[type='text'] {
    font-size: 22px;
    text-align: center;
  }
  input::placeholder {
    font-size: 16px;
    font-weight: lighter;
    color: $greydark;
  }
}
