@import './styles/Colors.scss';
table {
  border-collapse: collapse;
  width: 100%;
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.margin3 {
  margin: 0 3%;
}
